github-trending-digest-bot .txt
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 23
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "e89ffa83-5fa8-4a3a-b7a1-ae81358e1363",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://github.com/trending",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "b23ecd96-40fe-43f4-bf2b-894801a35655",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=你是一个精通开源社区的科技圈资深主编。请仔细阅读上一步抓取到的 GitHub 数据：\n{{ $json.data }}\n\n请严格执行以下三点：\n1. 从中筛选出当前最具备“爆炸性、实用性、或者极其热门”的 3 个 GitHub 开源项目。\n2. 将这 3 个项目的名字和功能简介翻译成高品质的中文，并附带原本的 GitHub 仓库链接（查找对应项目的网址/URL）。\n3. 为每个项目用一句话通俗易懂地解释它为什么能吸引这么多开发者关注（为什么火）。\n\n严禁输出任何多余的废话，直接给出这 3 条项目的翻译和总结。\n",
        "messages": {
          "messageValues": [
            {
              "message": "=你是一个精通开源社区的科技圈资深主编。请仔细阅读上一步抓取到的 GitHub 数据：\n{{ $json.data }}\n\n请严格执行以下三点：\n1. 从中筛选出当前最具备“爆炸性、实用性、或者极其热门”的 3 个 GitHub 开源项目。\n2. 将这 3 个项目的名字和功能简介翻译成高品质的中文，并附带原本的 GitHub 仓库链接（查找对应项目的网址/URL）。\n3. 为每个项目用一句话通俗易懂地解释它为什么能吸引这么多开发者关注（为什么火）。\n\n严禁输出任何多余的废话，直接给出这 3 条项目的翻译和总结。\n。"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        416,
        0
      ],
      "id": "81ddfe79-6aa0-4708-a362-4d8327a69da0",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "deepseek-v4-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        352,
        208
      ],
      "id": "af17a41d-a73c-43b1-b269-6f0c7d0ec01a",
      "name": "DeepSeek Chat Model",
      "credentials": {
        "deepSeekApi": {
          "id": "",
          "name": ""
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "YOUR_EMAIL@example.com",
        "toEmail": "YOUR_EMAIL@example.com",
        "subject": "github快讯",
        "emailFormat": "text",
        "text": "={{ $json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        768,
        0
      ],
      "id": "a110c800-76e1-4c9a-a0ea-6e96870a5a2d",
      "name": "Send an Email",
      "webhookId": "f16a050b-7800-4d3b-a778-7d7509bc414e",
      "credentials": {
        "smtp": {
          "id": "",
          "name": ""
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Send an Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
